@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap');

body {
    background-color: black;
}

.conteiner {
    background-color: rgb(37, 37, 37);
    border-radius: 5px;
    margin: 0 auto;
    margin-top: 60px;
    width: fit-content;
    height: fit-content;
    padding: 24px;
}

input {
    border: 0;
    background-color: rgb(53, 53, 53);
    width: 100%;
    height: 40px;
    padding: 10px;
    font-size: 16px;
    box-sizing: border-box;
    color: white;
    text-align: end;
}

h1, p, input {
    font-family: "Noto Sans";
}

h1 {
    color: white;
    text-align: center;
    font-size: 24px;
}

p {
    margin: 0;
    color: white;
    font-size: 18px;
    width: 30px;
    text-align: center;
}

button {
    background-color: transparent;
    cursor: pointer;
    border: 0;
}

#result {
    background-color: rgb(53, 53, 53);
    border: 1px solid rgba(255, 255, 255, 0.158);
    border-radius: 2px;
    box-sizing: border-box;
    width: 100%;
    height: 40px;
}

.wapper-number {
    margin: 0;
    display: grid;
    width: 100%;
    grid-template-columns: repeat(4, 1fr);
}

#box {
    border: 1px solid rgba(255, 255, 255, 0.158);
    background-color: rgb(110, 110, 110);
    padding: 10px;
    height: fit-content;
}
