.conteiner {
    background-color: rgb(37, 37, 37);
    border-radius: 3px;
    margin: 0 auto;
    width: 500px;
    height: 500px;
    padding: 10px;
}

h1 {
    color: white;
    text-align: center;
}

p {
    margin: 0;
    text-align: center;
}

button {
    background-color: transparent;
    cursor: pointer;
    border: 0;
}

#result {
    background-color: rgb(110, 110, 110);
    border-radius: 2px;
    margin: 0 auto;
    width: 250px;
    height: 30px;
}

.wapper-number {
    margin: 0 auto;
    margin-top: 10px;
    display: grid;
    width: fit-content;
    column-gap: 10px;
    row-gap: 10px;
    grid-template-columns: repeat(4, 1fr);
}

#box {
    background-color: rgb(110, 110, 110);
    padding: 10px;
    width: 20px;
    height: fit-content;
}